
.sessionContainer{
    display: flex;
    margin: 1rem 0;
    width: 100%;
    height: 70vh;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    padding: 0 4rem;
}
.sessionContainer .textContainer{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.textContainer h2{
    font-size: 3rem;
    color: var(--textBlack);
    
}
.textContainer p{
    font-size: 1.5rem;
    padding: 1.5rem 0;
    margin-bottom: 2rem;
}
.textContainer strong{
    color: var(--wallet);
}
form{
    width: 100%;
    display: flex;
    
}
form input{
    padding: 1rem 16rem 1rem .5rem;
    border-radius: .5rem 0 0 .5rem;
    outline: none;
    border: .1px solid var(--textBlack);
    font-weight: 100;
}
form button{
    padding: 1rem 5rem;
    border-radius: 0 .5rem .5rem 0;
    border:none;
    background: var(--wallet);
    color: var(--white);
    font-size: 1rem;
}
.imageContainer{
    display: flex;
    width: 45%;
    justify-content: flex-end;
}
.leftContainer{
    margin-top: 5rem;
    margin-right: .3rem;
}



@media (max-width: 768px){
    .sessionContainer{
        display: flex;
        flex-direction: column;
        padding: 0 4rem;

    }
    .sessionContainer .textContainer{
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 2rem 0;
    }
    .imageContainer{
        display: flex;
        width: 100%;
        justify-content:center;
        margin: 2rem 0;
        height: 80%;
    }
}

@media (max-width: 400px){
    .sessionContainer{
        display: flex;
        flex-direction: column;
        padding: 0 1.2rem;
    }
    .sessionContainer .textContainer{
        width: 100%;
        height: 80%;
        margin: 2rem 0;
    }
    .textContainer h2{
        font-size: 2rem;
    }
    .textContainer p{
        font-size: 1rem;
        padding: 1.5rem 0;
        margin-bottom: 1rem;
    }
    .imageContainer{
        display: flex;
        width: 100%;
        justify-content:center;
        margin: 2rem 0;
        height: 80%;
    }
    form{
       flex-direction: column;
    }
    form input{
        border-radius: .5rem;
        margin: .5rem 0;
        font-size: .5rem;
    }
    form button{
        border-radius: .5rem;
        
    }
    .imageContainer{
        margin: .5rem 0;
        height: 40%;
    }
    .imageContainer .img{
        width: 10rem;
        height: 10rem;
    }
    .imageContainer img{
        width: 10rem;
        height: 10rem;
        object-fit: contain;
    }
    .leftContainer{
        margin-top: 1.5rem;
        margin-right: .1rem;
    }
}