.footCon{
    height: 30vh;
    background: #1D1D1E;
    display: flex;
    flex-direction: column;
    color: #f1f3f9;
    padding: 4rem 4rem 0 4rem;
    justify-content: center;
}
.footCon .links{
    display: flex;
    justify-content: space-between;
}
h3{
    font-size: 1.5rem;
}
ul{
    list-style: none;
    
    
}
li{
    margin: .5rem 0;
}
.links a{
    text-decoration: none;
    color: #f1f3f9;
    font-size: 0.8rem;
    
}
.brandsocials{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}
.socials img{
    padding-right: 2rem;
}


@media (max-width: 768px){
    .bl .logo{
        width: 1rem;
    }
    .bl .brand{
        width: 1.5rem;
    }
}
@media (max-width: 400px){
    .footCon{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        height: 90vh;
    }
    .bl .logo{
        width: 2rem;
    }
    .bl .brand{
        width: 4rem;
    }
    .links{
        display: flex;
        flex-direction: column;
        
    }
    .brandsocials{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1.5rem;
    }
}