:root{
    --active:  #CFD8DC;
}
.modalContainer{
    position: absolute;
    top: 35%;
    margin: 0 auto;
    left: 30%;
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: .1px solid none;
    z-index: 2;
    background: white;
    border-radius: 1rem;
    color: var(--textBlack);
    box-shadow: 1px 1px 10px 1px grey;
}
.modalContainer .heading{
    display: flex;
    align-items: center;
    border-bottom: .1px solid var(--textBlack);
    justify-content: space-between;
   
}

.heading h3, .heading button{
    background: white;
    padding: 1rem 2rem;
    color: var(--textBlack);
}
.heading button{
    margin-right: 1rem;
}
.first img{
    padding-right: 1rem;
}
.optionCon{
    margin: 1rem;
}
.optionCon p{
    padding-left: 1rem;
}
.option:active{
    background-color: var(--active);
}
.optionCon .option{
    display: flex;
    justify-content: space-between;
    border: .1rem solid var(--textBlack);
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
}
.option .first{
    display: flex;
    align-items: center;
    
}

@media (max-width: 768px){
    .modalContainer{
        position: absolute;
        top: 24%;
        left: 15%;
        width: 70%;
        height: 30%;
        box-shadow: 1px 1px 10px 10px rgb(179, 178, 178);
    }
}
@media (max-width: 400px){
    .modalContainer{
        position: absolute;
        top: 30%;
        left: 5%;
        width: 90%;
        height: 50%;
        box-shadow: 1px 1px 10px 10px rgb(179, 178, 178);
    }
    .heading h3{
        font-size: 1.5rem;
    }
}